@charset "UTF-8";
 *{margin: 0; box-sizing: border-box;}
        ul,ol,li {
        list-style: none; margin: 0; padding:0;
        }
        
       body {
        min-height: 100vh;
       background: url('fruit.jpg') no-repeat center center fixed;
    	background-size: cover;
    	position: relative;
    	z-index: 1;}
    	
    	body::before {
    	content: "";
    	position: absolute;
    	top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0, 0, 0, 0.5);
	    z-index: -1;
    	}
    	
    	
    	
        header {
        width: 100%; height: 150px;  margin: 5px auto;
        }
        
       .login-container {
       width: 450px; padding:30px; 
       margin: 10px auto; 
       border:none;
        border-radius:8px; 
        box-shadow: 0 4px 8px rgba(0 0 0 0.1); 
        text-align: center;
        background-color:white}
        
         .login-container table{
         width : 100%;
         }
         
        
        .input-group {
        text-align: left; 
        margin-bottom: 15px;
        }
        
        .input-group label {
        display: block; 
        font-weight: bold; 
        margin-bottom: 5px;}
        
         input[type="reset"]{
        background: rgb(255, 188, 121);
        cursor: pointer;
        }
        input[type="submit"]{
        background: rgb(255, 188, 121);
        cursor: pointer;
        }
         input[type="reset"]:hover{
        background: rgb(199,82,82);
        }
        input[type="submit"]:hover{
        background: rgb(199,82,82);
        }
        
        .input-group input {
        width:100%; 
        padding: 10px; 
        box-sizing: border-box; 
        border:1px solid rgb(255, 179, 102);
         border-radius: 4px; font-size: 16px;}
         
         div a{
         text-decoration: none;
         color: black;}
         
        .login-btn {
        width: 100%; 
        padding: 12px; 
        background-color: rgb(255, 179, 102); 
        color:white; border: none;
        border-radius: 4px; 
        font-size: 18px; 
        cursor: pointer; 
        margin-top: 10px;}
        
        nav {
        width:100%; 
        height: 100%; 
        padding: 12px; 
        text-align: center;
         background-color: black; 
         float: left; 
         margin: 0px 0px
         }
         
        nav > ul {
        font-size: 30px; 
        font-weight: bold; 
        float: center;
        list-style-type: none;
        }
        
        nav > ul > li {
        margin: 0 40px;
        color: rgb(233, 225, 225);
        float: center;
       }
        
        nav > ul > li > a {
        text-decoration: none; 
        color: rgb(233, 225, 225);}
        
        nav > ul > li > a:hover {color: white;}
        section{
        width: 1280px; 
        height: 1500px;
         background-color: wheat;
		margin: 0 auto; }
		
        div {
        margin-bottom: 50px; 
        color: #000;}
        
        a, a:links, a:visited{
        text-decoration: none;
         color: black;
        }
        
         footer {
         width: 100%;   
         height: 70px; 
         background-color: rgb(43, 42, 38); 
         margin: 0 auto; 
         text-align: center;}
         
           footer>p {
           color: rgb(255, 255, 255);
           padding: 20px 0px;
            margin: 80px 0 0 0 ;}