
        header {
        width: 100%; 
        height: 100%;  
        margin: 0 auto;}
          
        table {
		width: 100%;
		border-collapse: collapse;
		font-size: 12px; /* 글꼴 크기 */
		line-height: 24px;} /* 줄 간격 */
		
		table td,th {
		border: #d3d3d3 solid 1px; /* 경계선 색상 스타일 굵기 */
		padding: 5px; /* 안쪽 여백 */
		
		th {
		background: yellowgreen; /* 배경색 */
	
        nav {
        width:100%; 
        height: 100%; 
        padding: 12px; 
        text-align: center; 
        background-color: black; 
        float: right; 
        margin: 0px 0px; 
        display:inline-block;}
       
        nav > ul {
        font-size: 30px; 
        font-weight: bold; }
        
        nav > ul > li {
        float: left; 
        margin: 0 40px;}
        
        nav > ul > li > a {
        text-decoration: none; 
        color: rgb(233, 225, 225);}
        
        nav > ul > li > a:hover {
        color: white;}
        
        div {
        margin-bottom: 50px; 
        color: #000;}
         
         footer {
         width: 100%; 
         height: 70px; 
         background-color: rgb(43, 42, 38); 
         margin: 0 auto; 
         text-align: center;}
           
           footer>p {
           color: rgb(255, 255, 255);
           padding: 20px 0px; 
           margin: 80px 0 0 0 ;}

