
       #wrap {
		width: 971px; /* 1024*768로 해상도를 맞추어서 설계 */
		/* 가운데 정렬을 위한 바깥쪽 여백 설정 */
		margin: 0 auto;
		}
		

       table h1 {
		width: 971px; /* 1024*768로 해상도를 맞추어서 설계 */
		/* 가운데 정렬을 위한 바깥쪽 여백 설정 */
		margin: 0;
		margin-left: auto;
		margin-right: auto;}
		
		h1{
		text-align: center;
		 justify-content: center;
		}
		
        header {
        width: 100%; 
        height: 100%;  
        margin: 0 auto;
        justify-content: center;
        }
        
        input{
        justify-content: center;
        }
		
		th {
		background: rgb(255, 128, 0);
		white-space: nowrap;}
	
	
      	table{
      	border-collapse: collapse;
      	width: 800px;
      	table-layout: fixed;
      	border: 2px solid #333;
      	margin: 0 auto;
      	}
      	
      	
      	th,td{
      	padding : 10px;
      	text-align: left;
      	border: 1px solid #333;
      	}
      	
      	a{
      	text-decoration: none;
      	color: black;}
      	
      	
        nav {
        width:100%; 
        padding: 12px 0; 
        background-color: black; 
        margin: 0px 0px; 
        display:block;
        text-align: center;}
       
        nav > ul {
        font-size: 30px; 
        font-weight: bold;
        display: flex;
        justify-content: center; }
        
        nav > ul > li {
  
        margin: 0 40px;}
        
        nav > ul > li > a {
        text-decoration: none; 
        color: rgb(233, 225, 225);}
        
        nav > ul > li > a:hover {
        color: white;}
         
         footer {
         width: 100%; 
         height: 70px; 
         background-color: rgb(43, 42, 38); 
         margin: 0 auto; 
         text-align: center;}
           
           footer>p {
           color: rgb(255, 255, 255);
           padding: 20px 0px; 
           margin: 80px 0 0 0 ;}

