
       #wrap {
		width: 971px; /* 1024*768로 해상도를 맞추어서 설계 */
		/* 가운데 정렬을 위한 바깥쪽 여백 설정 */
		margin: 0;
		margin-left: auto;
		margin-right: auto;}

       table h1 {
		width: 971px; /* 1024*768로 해상도를 맞추어서 설계 */
		/* 가운데 정렬을 위한 바깥쪽 여백 설정 */
		margin: 0;
		margin-left: auto;
		margin-right: auto;}
		
		h1{
		text-align: center;
		}
		
        header {
        width: 100%; 
        height: 100%;  
        margin: 0 auto;
        justify-content: center;
        }
        
        .list table{
         justify-content: center;
		width: 100px;
		border-collapse: collapse;
		font-size: 12px; /* 글꼴 크기 */
		line-height: 24px;} /* 줄 간격 */
        
         .list table th {
         width : 500px;
         }
        
        table {
		width: 100px;
		border-collapse: collapse;
		font-size: 12px; /* 글꼴 크기 */
		line-height: 24px;} /* 줄 간격 */
		
		table td,th {
		border: #d3d3d3 solid 1px; /* 경계선 색상 스타일 굵기 */
		padding: 5px;} /* 안쪽 여백 */
		
		th {
		background: rgb(255, 128, 0);} /* 배경색 */
	
        nav {
        width:100%; 
        padding: 12px 0; 
        background-color: black; 
        margin: 0px 0px; 
        display:block;
        text-align: center;}
       
        nav > ul {
        font-size: 30px; 
        font-weight: bold;
        display: flex;
        justify-content: center; }
        
        nav > ul > li {
  
        margin: 0 40px;}
        
        nav > ul > li > a {
        text-decoration: none; 
        color: rgb(233, 225, 225);}
        
        nav > ul > li > a:hover {
        color: white;}
         
         footer {
         width: 100%; 
         height: 70px; 
         background-color: rgb(43, 42, 38); 
         margin: 0 auto; 
         text-align: center;}
           
           footer>p {
           color: rgb(255, 255, 255);
           padding: 20px 0px; 
           margin: 80px 0 0 0 ;}

